h1{
    color: blue;
}

img{
    width: 400px;
}

#thridDiv{          /* para llamar a un id se debe colocar primero un # */
    height: 500px;
    width: 600px;
    background-color: cadetblue;

    /*padding: 50;*/ /* padding es un margen a todo el contenido tambien se puede utilizar a casa lado asi:*/

    padding-left: 100 ;
    padding-top: 20;

    border: 10px solid blue; /*crea un linea de borde */
    
    margin: 20px;   /*da una margen exterior al border tambien se puede asigar a cada lado */
    margin-left: 380px;
}

#spanDiv{ 
    font-size: 18px;
    margin: 50px;
}

.divClass{
    background-color: beige;
}
